/* 
Transition 0 = 100%
ANIMATION 0 1% 2% ..... 100%

*/
div {
  width: 200px;
  height: 100px;
  color: white;
  margin: 10px;
}
.transition {
  background: red;
  transition: all 2s linear;
}
.transition:hover {
  background: yellow;
  transform: translateX(100px);
}
.animation {
  background: blue;
  /* animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 2; */
  animation: move 5s infinite;
}

@keyframes move {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(100px);
    background: red;
  }
  75% {
    transform: translateX(-200px);
    background: yellow;
  }
  100% {
    transform: translateX(20px);
    background: green;
  }
}
/*.................................*/
div.multiple {
  width: 200px;
  height: 200px;
  color: #000000;
  background-color: orange;
  padding: 40px;
  border-radius: 140px;
  position: relative;
  text-align: center;
  z-index: 2;
}

div#multiple-h {
  animation: move-h 3s linear infinite alternate, 
    shape 3s ease-out infinite alternate;
}

div#multiple-v {
  animation: move-v 3s linear infinite alternate, 
    shape 3s ease-out infinite alternate;
}

@keyframes move-h {
  0% {background-color: orange; left: -200px; top: 0px;}
  25% {background-color: green; color: white; left: 0px; top:0px;}
  50% {background-color: white; color: black; left: 200px; top: 0px;}
  100% {background-color: red; color: white; left: 0px; top: 0px;}
}

@keyframes move-v {
  0% {background-color: red; color: white; left: 0px; top: 200px;}
  25% {background-color: white; color: black; left: 200px; top:200px;}
  50% {background-color: green; color: white; left: 200px; top: 0px;}
  100% {background-color: orange; left: -200px; top: 0px;}
}

@keyframes shape {
  0% {transform: scale(.3);}
  25% {transform: scale(.5);}
  100% {transform: scale(1);}
}
